<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='description' content='Thibaud Guillaume-Gentil Personal Website'>
    <meta name='author' content='Thibaud Guillaume-Gentil'>
    <meta name='viewport' content='width=642'>
    <title>Thibaud Guillaume-Gentil – thibaudgg</title>
    <%= stylesheet_link_tag 'main' %>
    <link rel='shortcut icon' href='favicon.png' />
    <link rel='icon' type='image/ico' href='favicon.ico' />
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'main' %>
  </body>
</html>
