<pre>
  <code data-language='ruby'>
Human.new(
       name: '<h1>Thibaud Guillaume-Gentil</h1>',
       info: '<h2>Ruby/Rails Senior Developer</h2>',
       urls: %w[<a href='https://rubygems.org/profiles/thibaudgg' title='RubyGems/thibaudgg'>RubyGems</a> <a href='https://twitter.com/thibaudgg' title='Twitter/thibaudgg'>Twitter</a> <a href='http://www.linkedin.com/in/thibaudgg' title='LinkedIn/thibaudgg'>LinkedIn</a>],
     github: %w[<a href='https://github.com/thibaudgg' title='GitHub/thibaudgg'>thibaudgg</a> <a href='https://github.com/guard' title='GitHub/guard'>guard</a>],
   contacts: %i[<a href='mailto:thibaud@thibaud.gg' title='Email me at thibaud@thibaud.gg'>email</a> <a href='skype:thibaud.guillaume-gentil?call' title='Call me on Skype'>skype</a> <a href='xmpp:thibaud@thibaug.gg' title='Chat me on Jabber'>jabber</a>],
   location: '<a href='https://maps.google.com/maps?q=La+Chaux-de-Fonds%2C+Switzerland' title='Google Maps: La Chaux-de-Fonds, Switzerland'>Switzerland</a>',
  languages: %i[french english]
)
  </code>
</pre>
